.fs-main {
  display: flex;
  width: 100%;
  position: relative;
  h3 {
    color: red;
    font-size: 16px;
    font-weight: normal;
  }
  &__project {
    width: 60%;
    position: relative;
    margin-right: 10px;
  }

  &__project-stats {
    width: 30%;
      h4 {
    color: #333;
    font-size: 16px;
    font-weight: normal;
  }
  }
}

.fs-project-thumb {
  display: flex;
  flex-direction: column;
  height: 200px;
  max-width: 220px;
  margin-right: 10px;
  width: 100%;

  &__img {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  h3 {
    background: #CCC;
    color: #333;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    display: block;
    padding: 8px;
    height: 50px;
  }
}

.fs-wrapper{
  display: flex;
  flex-wrap: wrap;

}