// Slick Slider

.fs-slider,
.fs-slider__people {

  position: relative;

  .slick-next {
    right: 20px;
    background: url(images/next-arrow.svg) no-repeat;
    background-size: 40px;
    height: 60px;
    opacity: .5;
    width: 50px;
  }

  .slick-prev {
    left: 20px;
    background: url(images/prev-arrow.svg) no-repeat;
    background-size: 40px;
    height: 60px;
    opacity: .5;
    width: 50px;
    z-index: 2;
  }
}


.slick-dots {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  bottom: -30px;

  li {
    button {
      border-radius: 50%;
      border: 1px solid #555555;
      box-shadow: none;
      height: 10px;
      margin: 0 2px;
      width: 10px;

      &:before {
        content: none;
      }
    }

    &.slick-active button {
      border: 1px solid $fs-red;
    }
  }
}
