h1, h2, h3, h4, h5, h6 {
  clear: both;
}


.fs-h1 {
  color: $fs-red;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.fs-h3 {
  color: $fs-red;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.fs-h4 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: $fs-light-gray;
  font-weight: 100;
}

.fs-h4 > p {
  margin: 0;
}

.fs-h5 {
  color: $fs-gray;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}