@import "headings";

@import "copy";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i');

body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: 'Roboto', sans-serif;;
  @include font-size(1);
  line-height: $font__line-height-body;
}
