.fs-navigation {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  width: 100%;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.menu-forum-studio-main-navigation-container {
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 330px;

  #primary-menu {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 15px 0;

    li {
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }

      &.current-menu-item > a {
        color: $fs-red;
      }

      a {
        color: #555555;
        font-size: 80%;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
          color: $fs-red;
        }
      }
    }
  }
}

.fs-search-button {
  background-size: 20px;
  background: url(./images/magnify-glass.svg) no-repeat;
  display: block;
  margin: 0 0 15px 80px;
  height: 20px;
  transition: .3s all;
  max-width: 20px;
  width: 100%;

  @media screen and (max-width: 600px) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.edit-link {
  display: none;
}

// .main-navigation {
//  clear: both;
//  display: block;
//  width: 100%;

//  ul {
//    display: none;
//    list-style: none;
//    margin: 0;
//    padding-left: 0;

//    ul {
//      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
//      float: left;
//      position: absolute;
//      top: 1.5em;
//      left: -999em;
//      z-index: 99999;

//      ul {
//        left: -999em;
//        top: 0;
//      }

//      li {
//        &:hover > ul,
//        &.focus > ul {
//          left: 100%;
//        }
//      }

//      a {
//        width: 200px;
//      }

//      :hover > a,
//      .focus > a {
//      }

//      a:hover,
//      a.focus {
//      }
//    }

//    li:hover > ul,
//    li.focus > ul {
//      left: auto;
//    }
//  }

//  li {
//    float: left;
//    position: relative;

//    &:hover > a,
//    &.focus > a {
//    }
//  }

//  a {
//    display: block;
//    text-decoration: none;
//  }

//  .current_page_item > a,
//  .current-menu-item > a,
//  .current_page_ancestor > a,
//  .current-menu-ancestor > a {
//  }
// }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: none;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}