$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #555555;
$color__link-visited: #555555;
$color__link-hover: #333333;
$color__text-main: #555555;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;



// Primary Colors
$fs-red: #ee3224;
$fs-primary-dark: #555555;
$fs-gray: #969696;
$fs-light-gray: #8A898A;
