#ff-stream-1 .ff-header h1,#ff-stream-1 .ff-controls-wrapper > span:hover { color: rgb(233, 9, 32); }
#ff-stream-1 .ff-controls-wrapper > span:hover { border-color: rgb(233, 9, 32) !important; }
#ff-stream-1 .ff-header h2 { color: rgb(114, 112, 114); }
#ff-stream-1 .ff-filter-holder .ff-filter,
#ff-stream-1 .ff-filter-holder:before,
#ff-stream-1 .ff-loadmore-wrapper .ff-btn:hover {
	background-color: rgb(205, 205, 205);
}
#ff-stream-1 .ff-filter:hover,
#ff-stream-1 .ff-filter.ff-filter--active,
#ff-stream-1 .ff-moderation-button,
#ff-stream-1 .ff-loadmore-wrapper .ff-btn,
#ff-stream-1 .ff-square:nth-child(1) {
	background-color: rgb(233, 9, 32);
}
#ff-stream-1 .ff-filter-holder .ff-search input {
	border-color: rgb(205, 205, 205);
}
#ff-stream-1 .ff-filter-holder .ff-search:after {
	color: rgb(205, 205, 205);
}
#ff-stream-1, #ff-stream-1 .ff-popup,
#ff-stream-1 .ff-search input,
#ff-stream-1.ff-layout-compact .picture-item__inner {
	background-color: rgb(255, 255, 255);
}
#ff-stream-1 .ff-header h1, #ff-stream-1 .ff-header h2 {
	text-align: left;
}
#ff-stream-1 .ff-controls-wrapper, #ff-stream-1 .ff-controls-wrapper > span {
	border-color: rgb(205, 205, 205);
}
#ff-stream-1 .ff-controls-wrapper, #ff-stream-1 .ff-controls-wrapper > span {
	color: rgb(205, 205, 205);
}
#ff-stream-1 .ff-item, #ff-stream-1 .shuffle__sizer{
	width:  260px;
}
#ff-stream-1 .ff-item {
	margin-bottom: 20px !important;
}
#ff-stream-1 .shuffle__sizer {
	margin-left: 20px !important;
}
#ff-stream-1  .picture-item__inner {
	background: rgb(233, 233, 233);
	color: rgb(85, 85, 85);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}
#ff-stream-1 .ff-share-wrapper a,
#ff-stream-1 .ff-mob-link,
#ff-stream-1-slideshow .ff-share-wrapper a {
	background-color: rgb(85, 85, 85);
}
#ff-stream-1 .ff-share-wrapper a:after,
#ff-stream-1 .ff-mob-link:after,
#ff-stream-1-slideshow .ff-share-wrapper a:after {
	color: rgb(233, 233, 233);
}
#ff-stream-1,
#ff-stream-1-slideshow {
	color: rgb(85, 85, 85);
}
#ff-stream-1 li,
#ff-stream-1-slideshow li,
#ff-stream-1 .ff-square {
	background: rgb(233, 233, 233);
}
#ff-stream-1 .ff-icon, #ff-stream-1-slideshow .ff-icon {
	border-color: rgb(233, 233, 233);
}
#ff-stream-1 .ff-style-2 .ff-icon:after {
	text-shadow: -1px 0 rgb(233, 233, 233), 0 1px rgb(233, 233, 233), 1px 0 rgb(233, 233, 233), 0 -1px rgb(233, 233, 233);
}
#ff-stream-1  a, #ff-stream-1-slideshow  a{
	color: rgb(233, 9, 32);
}

#ff-stream-1 h4, #ff-stream-1-slideshow h4,
#ff-stream-1 .ff-name, #ff-stream-1-slideshow .ff-name {
	color: rgb(233, 9, 32) !important;
}
#ff-stream-1 .ff-share-wrapper a:hover,
#ff-stream-1 .ff-mob-link:hover,
#ff-stream-1-slideshow .ff-share-wrapper a:hover {
	background-color: rgb(233, 9, 32);
}
#ff-stream-1 .ff-nickname,
#ff-stream-1-slideshow .ff-nickname,
#ff-stream-1 .ff-timestamp,
#ff-stream-1-slideshow .ff-timestamp {
	color: rgb(132, 118, 129) !important;
}
#ff-stream-1 .ff-item {
	text-align: left;
}
#ff-stream-1 .ff-theme-classic.ff-style-1 .ff-item-meta:before,
#ff-stream-1 .ff-theme-classic.ff-style-2 .ff-item-meta:before,
#ff-stream-1 .ff-theme-classic.ff-style-6 .ff-item-meta:before,
#ff-stream-1 .ff-item-meta,
#ff-stream-1-slideshow .ff-item-meta {
	border-color: rgba(240, 237, 231, 0.4);
}
