.home {
  .entry-title {
    display: none;
  }
}

.fs-home-hero {
  background-color: #eee;
  height: 773px;
  @media screen and(max-width: 800px) {
    height: 413px;
  }

  @media screen and(max-width: 480px) {
    height: 172px;
  }
}

.fs-home-boiler {
  color: #8A898A;
  font-size: 30px;
  font-weight: 100;
  line-height: 120%;
  margin: 50px 0 0 30px;
  max-width: 910px;
  width: auto;
}