.home {
  .entry-title {
    display: none;
  }
}

.fs-home-hero {
  background-color: #eee;
  height: 773px;
}

.fs-slide {
  height: 773px;
  position: relative;
  width: 100%;

  &__title {
    background: rgba(255, 255, 255, 0.5);
    bottom: 28px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 15px 30px 15px 30px;
    position: absolute;
    text-transform: uppercase;
  }
}


.fs-home-boiler {
  color: #8A898A;
  font-size: 30px;
  font-weight: 100;
  line-height: 120%;
  margin: 50px 0 0 30px;
  max-width: 910px;
  width: 100%;
}