// Leadership

.fs-leadership {
  .fs-container__col-3 {
    margin-top: 45px;
  }

  @media screen and (max-width: 800px) {
    .fs-container__col-9 {
      flex: inherit;
      width: 100%;
      margin-top: 0;
    }

    .fs-container__col-3 {
      margin: 0 0 20px 0;
      border-top: 1px solid $fs-light-gray;
      padding-top: 20px;
    }
  }
}

.fs-leaders {
  border-top: 1px solid $fs-gray;
  display: flex;
  font-size: 13px;
  padding-top: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.fs-leadership__content {
  margin-bottom: 25px;
  max-width: 700px;
  width: 100%;
}

.fs-leadership-person {
  margin-right: 30px;
  width: 20%;

  @media screen and (max-width: 700px) {
    width: 27%;
  }

  @media screen and (max-width: 600px) {
    width: 42%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  &:nth-child(4) {
    margin-right: 10px;
  }

  .name-title {
    color: $fs-gray;
    margin-bottom: 5px;
  }

  .name {
    font-weight: bold;
  }
}

.fs-leadership-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .phone {
    color: $fs-primary-dark;
  }

  .fs-link {
    color: $fs-light-gray;
  }
}

// Leadership Single

.fs-leadership__single {
  @media screen and (max-width: 1024px) {
    .fs-container__col-3 {
      flex: 0 0 45%;
      width: 50%;
    }

    .fs-container__col-7 {
      flex: 0 0 45%;
      width: 50%;
    }

    .fs-container__col-2 {
      flex: 12;
      width: 100%;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .fs-container__col-3 {
      flex: 0 0 43%;
      width: 50%;
    }

    .fs-container__col-7 {
      flex: 0 0 43%;
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .fs-container__col-3 {
      flex: inherit;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 0;

      .fs-leadership__nav {
        order: 1;
      }

      .thumb {
        order: 2;
      }

      .fs-leadership__single__card {
        order: 3;
      }
    }

    .fs-container__col-7 {
      flex: inherit;
      width: 100%;
      margin-left: 0;
    }

    .fs-container__col-2 {
      flex: inherit;
      width: 100%;
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.fs-leadership__single__card {
  border: 1px solid $fs-gray;
  border-width: 1px 0 1px 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 20px 0;
  max-width: 500px;
  padding: 20px 0;
  width: 100%;

  a {
    text-decoration: none;
  }

  .fs-h1 {
    margin-bottom: 8px;
  }
}

.fs-leadership__nav {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    font-size: 14px;
    color: $fs-gray;
    font-weight: 100;

    &:hover {
      color: $fs-red;
    }
  }

  &--prev {
    &:before {
      content: "<<";
      color: $fs-red;
      display: inline-block;
      padding-right: 5px;
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }

  &--next {
    &:after {
      content: ">>";
      color: $fs-red;
      display: inline-block;
      padding-left: 5px;
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }
}

// Leadership Related Content Styles

// Section row
.fs-leader-related {
  height: auto;
  display: block;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
  }
}

// Block
.fs-leader-related__block {
  max-width: 323px;
  width: 100%;
  height: auto;

  @media screen and (max-width: 1024px) {
    max-width: 167px;
    margin-right: 20px;
  }

  @media screen and (max-width: 600px) {
    margin: 0 0 20px 0;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--image {
    display: block;
    height: 172px;
    max-width: 323px;
    width: 100%;

    @media screen and (max-width: 1024px) {
      max-width: 167px;
      height: 89px;
    }

    @media screen and (max-width: 600px) {
      height: 172px;
      max-width: 323px;
    }
  }

  &--title {
    font-size: 12px;
    font-weight: 300;
  }
}

.single-leadership {
  .post-navigation {
    display: none;
  }

  .entry-title {
    display: none;
  }

  .bio {
    font-size: 14px;
  }
}

// Leadership Sort Filter

.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}