.fs-secondary__hero {
  height: 270px;
  width: 100%;
}

// Content Block Row
.fs-block {
  border-bottom: 1px solid $fs-gray;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .fs-h3 {
    margin-bottom: 10px;
  }
}

// 3 Column Grid
.fs-3column-blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__block {
    width: 100%;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link {
    p {
      margin: 0;
    }

    a {
      color: $fs-gray;
      text-decoration: none;

      &:after {
        content: ">>";
        color: $fs-red;
        display: inline-block;
        padding-left: 5px;
        position: relative;
        top: 1px;
        font-size: 16px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Leadership

.fs-leaders {
  border-top: 1px solid $fs-gray;
  display: flex;
  font-size: 13px;
  padding-top: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.fs-leadership__content {
  margin-bottom: 25px;
  max-width: 700px;
  width: 100%;
}

.fs-leadership-sidebar {
  margin-top: 45px;
}

.fs-leadership-person {
  margin-right: 30px;
  width: 20%;

  &:nth-child(4) {
    margin-right: 10px;
  }

  .name-title {
    color: $fs-gray;
    margin-bottom: 5px;
  }

  .name {
    font-weight: bold;
  }
}

.fs-leadership-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  @media screen and (max-width: 800px) {
    font-size: 12px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .phone {
    color: $fs-primary-dark;
  }
}

// Leadership Single

.fs-leadership__single-card {
  border: 1px solid $fs-gray;
  border-width: 1px 0 1px 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 20px 0;
  max-width: 500px;
  padding: 20px 0;
  width: 100%;

  a {
    text-decoration: none;
  }

  .fs-h1 {
    margin-bottom: 8px;
  }
}

.fs-leadership__nav {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    font-size: 14px;
    color: $fs-gray;
    font-weight: 100;

    &:hover {
      color: $fs-red;
    }
  }

  &--prev {
    &:before {
      content: "<<";
      color: $fs-red;
      display: inline-block;
      padding-right: 5px;
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }

  &--next {
    &:after {
      content: ">>";
      color: $fs-red;
      display: inline-block;
      padding-left: 5px;
      position: relative;
      top: 1px;
      font-size: 16px;
    }
  }
}

.single-leadership {
  .post-navigation {
    display: none;
  }

  .entry-title {
    display: none;
  }

  .bio {
    font-size: 14px;
  }
}

// Contact
.fs-contact {
  .fs-h1 {
    margin-bottom: 12px;
  }

  .fs-h4 {
    margin-bottom: 15px;
  }
}

.fs-contact-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  &__item {
    width: 50%;
    margin-bottom: 10px;

    .fs-h5 {
      margin-bottom: 18px;
    }

    &--info {
      line-height: 1.2;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &--link {
      a {
        color: $fs-gray;
        text-decoration: none;

        &:after {
          content: ">>";
          color: $fs-red;
          display: inline-block;
          padding-left: 5px;
          position: relative;
          top: 1px;
          font-size: 16px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}