.fs-secondary__hero {
  height: 270px;
  width: 100%;
}

// Content Block Row
.fs-block {
  border-bottom: 1px solid $fs-gray;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .fs-h3 {
    margin-bottom: 10px;
  }
}

// 3 Column Grid
.fs-3column-blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__block {
    width: 100%;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link {
    p {
      margin: 0;
    }

    a {
      color: $fs-gray;
      text-decoration: none;

      &:after {
        content: ">>";
        color: $fs-red;
        display: inline-block;
        padding-left: 5px;
        position: relative;
        top: 1px;
        font-size: 16px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Contact
.fs-contact-list {
  display: flex;
  max-width: 600px;
  width: 100%;

  &__city {
    margin-right: 130px;

    .fs-h5 {
      margin-bottom: 20px;
    }
  }
}