.fs-main {
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  padding-bottom: 50px;
}

.fs-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 36px;
  width: 100%;

  @media screen and (max-width: 800px) {
    padding: 30px 20px;
  }

  // Main Column with Sidebars
  &__col-9 {
    flex: 9;
  }

  // Main Column No Sidebar
  &__col-10 {
    flex: 10;
  }

  // Middle Column
  &__col-7 {
    flex: 7;
    margin-left: 40px;
  }

  // Sidebar
  &__col-3 {
    flex: 3;
    margin-left: 30px;

    .fs-h5 {
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
      }
    }
  }

  &__col-2 {
    flex: 2;
    margin-left: 30px;
  }
}