.fs-main {
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  padding-bottom: 50px;
}

.fs-main-no-sidebar {
  padding: 36px;
  width: 80%;
}

.fs-main-with-sidebar {
  padding: 36px;
  width: 80%;
}