.fs-main {
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  padding-bottom: 50px;
}

.fs-container {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 36px;
  width: 100%;

  &__col-9 {
    flex: 9;
  }

  &__col-3 {
    flex: 3;
    margin-left: 30px;

    .fs-h5 {
      margin-bottom: 20px;
    }
  }
}