.fs-footer {
  border-top: 1px solid #CCC;
  color: #969696;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;

  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  &__col {
    display: flex;

    &:first-child {
      width: 100%;
      max-width: 350px;

      @media screen and (max-width: 800px) {
        width: auto;
        max-width: 100%;
      }

      @media screen and (max-width: 600px) {
        width: 50%;
      }
    }

    &:nth-child(2) {
      width: 100%;
      max-width: 700px;
      display: flex;

      @media screen and (max-width: 800px) {
        width: auto;
        max-width: 100%;
      }

      @media screen and (max-width: 600px) {
        width: 50%;
      }
    }

    &:nth-child(3) {
      width: 100%;
      max-width: 700px;
      display: flex;

      @media screen and (max-width: 800px) {
        width: auto;
        max-width: 100%;
      }

      @media screen and (max-width: 600px) {
        width: 50%;
      }
    }

    &:last-child {
      width: 100%;
      max-width: 220px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 800px) {
        width: auto;
        max-width: 100%;
      }

      @media screen and (max-width: 600px) {
        width: 50%;
      }
    }
  }
}

// Links, Address and Partners
#fs-footer__links,
#fs-footer__address,
#fs-footer__partners {
  .textwidget {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #969696;
    text-decoration: none;

    &:hover {
      color: $fs-red;
    }
  }

  .widget-title {
    color: #555555;
    margin: 0 0 4px 0;
    text-transform: uppercase;
  }
}

// Partners
#fs-footer__partners {
  width: 100%;
}

// Address
#fs-footer__address {
  width: 100%;

  .widget:last-child {
    margin-bottom: 0;
  }
}

// Links
#fs-footer__links {
  li {
    text-transform: uppercase;
  }
}

// Signup
.fs-footer__signup {
  &--title {
    margin-bottom: 0;
    color: #555555;
    text-transform: uppercase;
  }
}

// Social Media
#fs-footer__social-media {
  width: 100%;
  max-width: 240px;

  .widget-title {
    margin: 0 0 10px 0;
    color: #555555;
    text-transform: uppercase;
  }

  .widget {
    margin: 0;
  }
}

.social-icons-widget .icons-none {
  display: flex;
  margin: 0 !important;
  padding-left: 0;

  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
    width: 100px;
  }

  li {
    border: 1px solid #979797;
    display: flex;
    height: 30px;
    margin-right: 20px;
    width: 30px;

    @media screen and (max-width: 600px) {
      &:nth-child(odd) {
        margin-right: 0;
      }
    }

    a {
      margin: 0;
      display: block;
      padding: 13px;
    }

    &.twitter {
      background: url(images/social-twitter.svg) no-repeat;
      background-position: center center;
      order: 1;
    }

    &.facebook {
      background: url(images/social-facebook.svg) no-repeat;
      background-position: center center;
      order: 2;
    }

    &.linkedin {
      background: url(images/social-linkedin.svg) no-repeat;
      background-position: center center;
      order: 4;
      margin-right: 0;
    }

    &.instagram {
      background: url(images/social-instagram.svg) no-repeat;
      background-size: 20px;
      background-position: center center;
      order: 3;
    }

    img {
      display: none;
    }
  }
}