// Header elements

.fs-branding {
  width: 100%;
}

.fs-header {
  background: #fff;
  border-bottom: 1px solid #DDD;
  display: flex;
  height: 100px;
  position: relative;
  z-index: 3;
}

.fs-logo-header {
  background: url(./images/forum-studio-logo.svg) no-repeat;
  background-size: 230px;
  display: inline-block;
  height: 70px;
  margin: 22px 0 0 24px;
  max-width: 300px;
  text-indent: -9999px;
  width: 100%;
}

.fs-search-form__header {
  background: rgba(180, 180, 180, 0.85);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 20px 10px;
  position: absolute;
  top: 99px;
  width: 100%;
  z-index: 2;
  transition: all .3s ease-in-out;
  transform: translateY(-20em);

  &--show {
    transform: translateY(0);
  }
}

.fs-search-form__wrapper {
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  flex-direction: column;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 95%;

  .search-form {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
  }

  input[type="search"].search-field {
    background: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: none;
    color: #999;
    font-size: 24px;
    font-weight: 100;
    height: 100px;
    padding: 0 30px;
    width: 750px;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      opacity: 1;
      color: $fs-red;
      font-weight: 100;
      font-size: 34px;
    }
  }

  .search-submit {
    background: none;
    border: none;
    box-shadow: none;
    pointer-events: none;
    text-indent: -9999px;
  }
}